.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
    text-align: center;
    @include desktop {
        text-align: left;
    }
}

.footer-adress {
    font-style: normal;
}

.footer-webstudio {
    font-family: "Raleway", sans-serif;
    @include font(700, 24px, 1.16, 0.03em);
    color: var(--header-color);
    margin-bottom: 20px;
    display: inline-block;
    @include desktop {
    @include font(700, 26px, 1.19, 0.03em);
    display: inline-block;
    }
}

.footer-studio {
    font-family: "Raleway", sans-serif;
    @include font(700, 24px, 1.16, 0.03em);
    color: var(--hero-text);
    @include desktop {
    @include font(700, 26px, 1.19, 0.03em);
    }
}

.footer-map {
    font-family: "Roboto", sans-serif;
    @include font(400, 14px, 1.71, 0.03em);
    color: var(--hero-text);
    margin-bottom: 9px;
    display: inline-block;
}

.footer-mail {
    font-family: "Roboto", sans-serif;
    @include font(400, 14px, 1.71, 0.03em);
    color: var(--footer-tel);
    margin-bottom: 9px;
    display: inline-block;
}

.footer-tel {
    font-family: "Roboto", sans-serif;
    @include font(400, 14px, 1.71, 0.03em);
    color: var(--footer-tel);
    display: block;
}

.footer-text {
    display: flex;
    justify-content: center;
    @include desktop {
        justify-content: start;
    }
    @extend %align;
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.Webstudio {
    margin-bottom: 60px;
    @include tablet {
        margin-bottom: 0;
    }
    @include desktop {
        margin-right: 82px;
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
    }
}

.footer-completely {
    display: inline-block;
    @include desktop {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    }
}

.footer-links {
    @extend %align;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--header-color);
    }
}

.footer-soc-links {
    fill: var(--hero-text)
}

.footer-soc-list {
    @extend %align;
    justify-content: center;
    gap: 10px;
}

.footer-soc {
    gap: 30px;
    @include desktop {
        margin-bottom: 0;
    }
}

.container-wrap {
    margin: 0 0 60px 0;
    @include tablet {
    display: flex;
    padding-right: 76px;
    padding-left: 76px;
    justify-content: space-between;
    }
    @include desktop {
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }
}

.subscribe-text {
    display: flex;
    justify-content: center;
    @include desktop {
        justify-content: start;
    }
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--hero-text);
    margin-bottom: 20px;
}

.subscribe-text-btn {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    @include font(700, 16px, 1.88, 0.06em);
    color: var(--hero-text);
    background-color: var(--header-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--hero-btn-focus);
    }
}

.send-icon {
    fill: var(--hero-text);
}

.form-mail {
    margin-right: 10px;
}

.text-input {
    color: var(--hero-text);
    margin-bottom: 20px;
    // @include tablet {
    //     width: 450px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    // }
    @include tablet {
        margin-bottom: 20px;
    }
    @include desktop {
        margin-bottom: 0;
    }
}

.js-speaker-form {
    @include desktop{
        display: flex;
    }
}

.js-speaker-form input {
    padding-left: 16px;
    width: 100%;
    @include tablet {
        width: 450px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    @include desktop {
        width: 358px;
    }
    min-height: 50px;
    background: transparent;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    &:hover,
    &:focus {
    border-color: var(--header-color);
    }
}

.subscribe {
    @include desktop {
        margin-left: 93px;
    }
}