.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--hero-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms linear;
    .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scaleY(0);
    }
}

.modal-btn {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 8px;
    @extend %align;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    &:hover,
    &:focus {
    background-color: var(--hero-text);
    }
}

.modal-btn:hover .modal-close-icon,
.modal-btn:focus .modal-close-icon {
    fill: var(--header-color);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    @include font(700, 20px, 1.15, 0.03em);
    text-align: center;
    color: var(--main-color);
    padding-top: 40px;
    padding-bottom: 12px;
}

.label-text {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    @include font(400, 12px, 1.17, 0.01em);
    color: var(--header-tel);
}

.questionnaire {
    margin-left: 40px;
    margin-right: 40px;
}

.field textarea {
    display: flex;
    resize: none;
    min-width: 448px;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background: transparent;
    outline: transparent;
}

.modal-person-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.input-wrap {
    position: relative;
}

.modal-input {
    display: flex;
    min-width: 448px;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    background: transparent;
    outline: transparent;
    &:focus {
    border: 1px solid var(--header-color);
    }
}

.modal-input:focus+.modal-person-icon {
    fill: var(--header-color);
}

.modal-texteria {
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 12px 16px;
    &:focus {
    border: 1px solid var(--header-color);
    }
}

.check-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    @include font(400, 14px, 1.71, 0.03em);
    color: var(--header-tel);
    @extend %align;
    justify-content: center;
    margin-bottom: 30px;
    & span {
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 2px;
    margin-right: 8px;
    @extend %align;
    justify-content: center;
    fill: transparent;
    }
}

.input-check:checked+.check-text span {
    background-color: var(--header-color);
    border-color: transparent;
    fill: var(--hero-text);
}

.input-check:focus+.check-text span {
    border-color: var(--header-color);
}

.btn-text-modal {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    @include font(700, 16px, 1.88, 0.06em);
    align-items: center;
    text-align: center;
    color: var(--hero-text);
    background: var(--header-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    transition: color 250ms linear, background-color 250ms linear;
    &:hover {
    background-color: var(--hero-btn-focus);
    }
    &:focus {
    background-color: var(--hero-btn-focus);
    }
}

.modal-btn-text {
    @extend %align;
    justify-content: center;
}

.term-contract {
    margin-left: 4px;
    color: var(--header-color);
    text-decoration-line: underline;
    text-underline-offset: 5px;
}