.manufacturers {
    background-color: var(--hero-text);
}

.border-worker {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero-worker {
    font-family: "Roboto", sans-serif;
    @include font(500, 16px, 1.19, 0.03em);
    color: var(--main-color);
    margin-bottom: 10px;
}

.list-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.soc-icon {
    fill: #AFB1B8;
    .worker-soc-link:hover &,
    .worker-soc-link:focus & {
    fill: var(--hero-text);
    }
}

.worker-soc-link {
    @extend %align;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    background-color: var(--header-color);
    }
}

.hero-position {
    font-family: "Roboto", sans-serif;
    @include font(400, 16px, 1.19, 0.03em);
    color: var(--header-tel);
    margin-bottom: 16px;
}